<div class="container">
  <div  [hidden]="submitted">
    <h3>Compra de acciones</h3>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #buyStockForm="ngForm">
      <div class="form-group">
        <label for="codeStock">Especie</label><br>
        <p-autoComplete [(ngModel)]="model.codeStock"
                        [suggestions]="filteredStocks" 
                        (completeMethod)="filterStocks($event)" 
                        field="description"
                        [size]="30"
                        [minLength]="1"  [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)"
                        name="codeStock" 
                        id="codeStock">
            <template let-stocka>
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{stocka.code}} - {{stocka.description}}</div>
                </div>
            </template>
        </p-autoComplete>
      </div>
      <div class="form-group">
        <label for="quantity">Cantidad</label><br>
        <input type="number" class="form-control" id="quantity"
               required
               [(ngModel)]="model.quantity" name="quantity"
               #quantity="ngModel" 
               pInputText >
        <div [hidden]="quantity.valid || quantity.pristine"  class="alert alert-danger">
          La cantidad es requerida.
        </div>
      </div>

       <div class="form-group">
        <label for="price">Precio</label><br>
        <input type="number" class="form-control" id="price"
               required
               [(ngModel)]="model.price" name="price"
               #price="ngModel" 
               pInputText>
        <div [hidden]="price.valid || price.pristine"  class="alert alert-danger">
          La cantidad es requerida.
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"> Fecha de compra</label>
            <div class="col-sm-2">
                <p-calendar [(ngModel)]="model.buyDate"
                            [locale]="es"
                            dateFormat="dd/mm/yy"
                            name="buyDate"
                            [showIcon]="true">
                </p-calendar>
            </div>
      </div>
      <br>
      <button type="submit" class="btn btn-default" [disabled]="!buyStockForm.form.valid">Submit</button>

    </form>
  </div>
        <!--<div [hidden]="!submitted">
          <h2>You submitted the following:</h2>
          <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9  pull-left">{{ model.name }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Alter Ego</div>
            <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Power</div>
            <div class="col-xs-9 pull-left">{{ model.power }}</div>
          </div>
          <br>
          <button class="btn btn-default" (click)="submitted=false">Edit</button>
        </div>-->
</div>
